<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpendWise</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header class="bg-slate-500 h-16 w-full">
      <nav class="flex justify-between text-white w-full size-12">
        <div class="p-3 flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-10 stroke-1 stroke-gray-500"
          >
            <path d="M4.5 3.75a3 3 0 0 0-3 3v.75h21v-.75a3 3 0 0 0-3-3h-15Z" />
            <path
              fill-rule="evenodd"
              d="M22.5 9.75h-21v7.5a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-7.5Zm-18 3.75a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5h-6a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z"
              clip-rule="evenodd"
            />
          </svg>

          <span class="text-lg font-bold font-barrio text-yellow-400">
            <a href="/"> SpendWise</a></span
          >
        </div>
        <div
          class="mr-6 p-3 *:border *:px-1 *:py-1.5 *:rounded *:text-sm *:font-sans *:hover:opacity-100 hover:cursor-pointer"
        >
          <span
            class="bg-gray-50 border-gray-50 hover:bg-gray-100 shadow-md text-black mr-1"
            id="log-in"
            ><a href="/">Home</a></span
          >
          <span><a href="/login">Log in</a></span>
          <span><a href="/register">Register</a></span>
        </div>
      </nav>
    </header>
    <main class="bg-gray-100">
      <div class="max-w-[650px] m-auto mt-8 px-4">
        <div class="flex justify-between">
          <div class="">
            <button
              class="border bg-green-600 border-green-600 hover:bg-green-500 font-sans rounded-md text-white text-sm p-1.5 shadow"
              id="open-button"
            >
              Add Expense
            </button>
            <button
              class="border bg-[#1a75cf] hover:bg-blue-500 border-[#1a75cf] font-sans rounded-md text-white text-sm p-1.5 shadow"
              id="open-button"
            >
              Expense report
            </button>
          </div>
          <div class="flex justify-between items-center gap-1">
            <input
              class="block w-full border border-black p-1.5 outline-none rounded focus:border-blue-400 text-sm placeholder:italic placeholder:text-slate-400"
              id="search"
              placeholder="Search by description or category"
              type="text"
              name="search"
            />
          </div>
        </div>
        <div class="w-full max-w-[650px] mt-2">
          <table class="border max-w-[550px] shadow">
            <thead>
              <tr
                class="text-left font-sans border *:text-slate-600 *:py-2 *:px-1.5 *:m-2 text-[14px] font-extralight"
              >
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Amount</th>
                <th>Expense Date</th>
                <th>Category</th>
                <th>Action Item</th>
              </tr>
            </thead>
            <tbody id="item-list" class="font-sans"></tbody>
          </table>
          <div class="mt-2 text-right text-slate-600 text-sm p-1.5">
            Total Expenses: $<span id="total-expenses" class="font-bold"
              >0.00</span
            >
          </div>
        </div>
      </div>
      <!-- modal -->
      <div
        class="fixed w-full h-full overflow-auto left-0 bottom-0 top-0 z-10 bg-[#3b3636] pt-[100px]"
        id="modal"
      >
        <!-- modal -->
        <div
          class="w-full max-w-[550px] m-auto border border-white rounded p-3 bg-white"
          id="modal-parent"
        >
          <div
            class="flex justify-between items-center border-b border-gray-900 h-12"
          >
            <div class="text-2xl">Add Expense</div>
            <span
              class="text-2xl font-bold cursor-pointer text-gray-500"
              id="close-button"
              >&times;</span
            >
          </div>
          <!-- modal form -->
          <form class="*:mt-4">
            <!-- Item Name -->

            <div class="">
              <label for="item-name" class="text-sm font-sans font-normal"
                >Item name</label
              >
              <input
                type="text"
                id="item-name"
                class="w-full text-sm block border-0 text-gray-900 p-1.5 rounded-md ring-1 ring-inset ring-gray-300 focus:ring-inset focus:ring-green-600 outline-none"
                autocomplete="off"
              />
            </div>
            <!-- Category -->
            <div class="">
              <label for="category" class="text-sm font-sans font-normal block"
                >Category</label
              >
              <select
                name="category"
                id="category"
                class="w-full border outline-none focus:ring-inset ring-1 ring-inset ring-gray-300 focus:ring-green-600 font-normal font-sans text-sm p-1.5 rounded-md"
              >
                <option>---select your category---</option>
                <option value="Food">Food</option>
                <option value="Shopping">Shopping</option>
                <option value="Travel">Travel</option>
                <option value="Health">Health</option>
              </select>
            </div>
            <!-- item Amount -->
            <div class="">
              <label for="Amount" class="text-sm font-sans font-normal"
                >Amount</label
              >
              <input
                type="text"
                id="item-amount"
                class="w-full text-sm block border-0 text-gray-900 p-1.5 rounded-md ring-1 ring-inset ring-gray-300 focus:ring-inset focus:ring-green-600 outline-none"
                autocomplete="off"
              />
            </div>
            <!-- Expense Date -->
            <div class="">
              <label for="Amount" class="text-sm font-sans font-normal"
                >Expense Date</label
              >
              <input
                type="date"
                id="expense-date"
                class="w-full text-sm block border-0 text-gray-900 p-1.5 rounded-md ring-1 ring-inset ring-gray-300 focus:ring-inset focus:ring-green-600 outline-none"
                autocomplete="off"
              />
            </div>
            <div class="">
              <button
                class="border w-full bg-green-500 hover:bg-green-400 p-1.5 font-medium"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="./script.js"></script>
  </body>
</html>