<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header class="bg-slate-500 h-16 w-full">
      <nav class="flex justify-between text-white w-full size-12">
        <div class="p-3 flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-10 stroke-1 stroke-gray-500"
          >
            <path d="M4.5 3.75a3 3 0 0 0-3 3v.75h21v-.75a3 3 0 0 0-3-3h-15Z" />
            <path
              fill-rule="evenodd"
              d="M22.5 9.75h-21v7.5a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-7.5Zm-18 3.75a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5h-6a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z"
              clip-rule="evenodd"
            />
          </svg>

          <span class="text-lg font-bold font-barrio text-yellow-400">
            SpendWise</span
          >
        </div>
        <div
          class="mr-6 p-3 *:border *:px-1 *:py-1.5 *:rounded *:text-sm *:font-sans *:hover:opacity-100 hover:cursor-pointer"
        >
          <span
            class="bg-gray-50 border-gray-50 hover:bg-gray-100 shadow-md text-black mr-1"
            id="log-in"
            ><a href="/login">Log in</a></span
          >
          <span><a href="/register">register</a></span>
        </div>
      </nav>
    </header>
    
    <main>
      <div
        class="border border-gray-500 rounded-md container w-full max-w-[300px] mx-auto p-1 mt-8"
      >
           {{!-- handle bars if else condition --}}
       {{#if message}}
                   <div class="danger">{{message}}</div>
            {{/if}}
        <div class="p-2 text-lg font-bold">Register here</div>
        <form action="/auth/register" method="POST">
          <div class="*:mt-1">
            <label for="name" class="block">
              <span class="block text-sm font-medium text-slate-700"
                >Name</span
              >
              <input
                type="text"
                class="w-full font-mono text-sm p-2 border outline-none focus:ring-inset ring-1 ring-inset ring-gray-300 focus:ring-gray-600 rounded"
                placeholder="" id="name" name="name"
              />
            </label>

            <label for="e-mail" class="block">
              <span class="block text-sm font-medium text-slate-700"
                >E-mail</span
              >
              <input
                type="email"
                class="w-full font-mono text-sm p-2 border outline-none focus:ring-inset ring-1 ring-inset ring-gray-300 focus:ring-gray-600 rounded" id="email" name="email"
              />
            </label>

            <label for="password" class="block">
              <span class="block text-sm font-medium text-slate-700"
                >Password</span
              >
              <input
                type="password"
                class="w-full font-mono text-sm p-2 border outline-none focus:ring-inset ring-1 ring-inset ring-gray-300 focus:ring-gray-600 rounded" id="password" name="password"
              />
            </label>

            <label for="passwordConfirm" class="block">
              <span class="block text-sm font-medium text-slate-700"
                >Confirm Password</span
              >
              <input
                type="password"
                class="w-full font-mono text-sm p-2 border outline-none focus:ring-inset ring-1 ring-inset ring-gray-300 focus:ring-gray-600 rounded" id="passwordConfirm" name="passwordConfirm"
              />
            </label>
            <button
              class="border bg-green-500 outline-none w-full text-white font-semibold p-1 rounded"
            >
              Create an account
            </button>
          </div>
        </form>
        
      </div>
    </main>

    {{!-- <script src="/dist/script.js"></script>    --}}
  </body>
</html>
